{% extends "bootstrap/base.html" %}
{% block title %} snapcastr {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block content %}
<div class=sc>
<h3>Status</h3>
</div>
<div class=sc>
<table>
  <tr>
    <td>Version</td>
    <td>{{ version }}</td>
  </tr>
  <tr>
    <td>Clients</td>
    <td>{{ num_clients }}</td>
  </tr>
  <tr>
    <td>Groups</td>
    <td>{{ num_groups }}</td>
  </tr>
  <tr>
    <td>Streams</td>
    <td>{{ num_streams }}</td>
  </tr>
</table>
</div>
<div class=sc>
{% endblock %}

